<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Movie Info</title>
</head>

<body>
  <div class="movie-info">
    <h2>{{::$ctrl.movie.title}}</h2>
    <h3 ng-if="$ctrl.movie.tagline">{{::$ctrl.movie.tagline}}</h3>
    <img src="{{$ctrl.movie.poster_path}}" alt="{{$ctrl.movie.title}}">
    <p>Release date: <strong>{{$ctrl.movie.release_date}}</strong></p>
    <p>Genres: {{$ctrl.movie.genres.toString()}}</p>
    <p class="overview">{{::$ctrl.movie.overview}}</p>
    <a ui-sref="app">Back</a>
  </div>

</body>

</html>