$font: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$font-size: 15px/24px; 
$content-background: #fff;
$bg-img: url(../img/header_background_v1.jpg);
$header-color: white;
$bg-btn: #00aeae;
$post-description-color: red;
$post-color-h3: #3caeb8;
$post-color-p: #010f16;
$bg-color-article: #f0f0f0;
$form-color: #2db5cf;
$color-h1: #010f16;
$border-color-input: black;
$about-color: #010f16;
$nav-border-color: #607d8b;