$font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-size: 18px/26px;
$content-background: #efefef;
$bg-img: url(../img/header_background_v1.jpg);
$header-color: red;
$bg-btn: #0000ae;
$post-description-color: #bdbdbd;
$post-color-h3: #607f9a;
$post-color-p: #757575;;
$bg-color-article: #ffffff;
$form-color: #607d8b;
$color-h1: #757575;
$border-color-input: #bdbdbd;
$about-color: #757575;
$nav-border-color: #cfd8dc; 