.search {
  margin: 20px 0 20px 0;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  outline:none;
}
.movies {
  display: flex;
  flex-wrap: wrap;

  &__overview {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    flex-shrink: 1;
    flex-grow: 1;
    margin-bottom: 40px;
    
    padding: 20px;
    border-radius: 10px;
    border: 1px dotted;
    &:nth-child(even) {
      margin-left: 10px;
    }
    &:hover {      
      background-color: rgba(0, 0, 0, 0.12);
      cursor: pointer;
    }

    div {
      display: flex;
    }

    h2 {
      text-align: center;
    }

    img {
      width: auto;
      height: 150px;
      margin: 0 10px;
    }
  }
}

